{% extends "../base.html" %}

{% block tittle %} Gestion grupos {% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-5 col-xl-5">
        <div class="card">
            <div class="card-header">
                Detalles alumno
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Grupo: {{alumno.idGrupo.nombreGrupo}}</li>
                <li class="list-group-item">Docente: {{alumno.idGrupo.idDocente.nombreDocente}}
                    {{alumno.idGrupo.idDocente.apellidoDocente}}</li>
                <li class="list-group-item">Nombre: {{alumno.nombreAlumno}} {{alumno.apellidoAlumno}}</li>
            </ul>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-7 col-xl-7">
        <div class="card">
            <div class="card-header">
                Materias grupo
            </div>
            <ul class="list-group list-group-flush">
                {% for gm in grupoMaterias %}
                <li class="list-group-item">
                    {{gm.idMateria.idMateria}} - {{gm.idMateria.nombreMateria}}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<br><br>
<div class="row">
    <div class="bd-example">
        <a href="/alumnos" class="btn btn-danger btn-lg" role="button">Atras</a>
    </div>
</div>

{% endblock %}