{% extends "../base.html" %}

{% block tittle %} Gestion materias {% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">

        <h2>Gestión de Materias</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrarMateria/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="idMateria" name="idMateria" class="form-control" placeholder="Id"
                            minlength="1" maxlength="6" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="nombreMateria" name="nombreMateria" class="form-control" placeholder="Nombre"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="creditosMateria" name="creditosMateria" class="form-control" min="1" max="2"
                            value="1" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de Materias</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Créditos</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in materias %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{m.idMateria}}</td>
                        <td>{{m.nombreMateria}}</td>
                        <td>{{m.creditosMateria}}</td>
                        <td><a href="edicionMateria/{{m.idMateria}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarMateria/{{m.idMateria}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}