{% extends "../base.html" %}

{% block tittle %} Gestion grupos {% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">

        
        <div class="card">           
            <div class="card-header">
              Grupo: {{grupo.nombreGrupo}}
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Docente: {{grupo.idDocente.nombreDocente}} {{grupo.idDocente.apellidoDocente}}</li>
            </ul>          
        </div>
        <br><br>

        <div class="card">
            <div class="card">           
                <div class="card-header">
                    Lista de materias
                </div>
                <ul class="list-group list-group-flush">
                    {% for gm in grupoMaterias %}
                        <li class="list-group-item"><a href="eliminarGrupo/{{g.idGrupo}}" class="btn btn-danger btnEliminacion">Eliminar</a>  {{gm.idMateria.idMateria}} - {{gm.idMateria.nombreMateria}}</li>
                    {% endfor %}
                </ul>          
            </div>
            {% if contador < 3 %}
            <div class="card-body">
                <form action="/registrarGrupo/" method="POST">{% csrf_token %}                   
                    <div class="form-group">
                        <select id="idDocente" name="idDocente" class="form-control" required>
                            <option value="-1" disabled selected>Seleccione un docente</option>
                            {% for d in docentes %}                                                                
                                <option value="{{d.idDocente}}">{{d.nombreDocente}} {{d.apellidoDocente}}</option>                      
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de alumnos</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Id</th>
                        <th>Nombre alumno</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in alumnos %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{a.idAlumno}}</td>
                        <td>{{a.nombreAlumno}} {{a.apellidoAlumno}}</td>                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}